html, body {
  height: 100%; }

.hardimage {
  text-align: center; }

.hardimage img {
  display: inline-block;
  width: 45%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
 }
a{
  text-decoration: none;
}

a.email {
  text-decoration: none;
  color: #1bb99a; }
a.travel {
  text-decoration: none;
  color: #2EB8E6; }
a.hwinner {
  text-decoration: none;
  color: #ff9800;
}

.social-media-menu{
  padding-bottom: 30px;
}

.container {
  width: 100%; }
.container .frame {
  width: 100%;
  padding-bottom: auto; }
.container .frame .green-bkg {
  background-color: #1bb99a; }
.container .frame .yellow-bkg {
  background-color: #FFB03B;
}
.container .frame .header-bkg {
  height: 70vh;
  text-align: center; }
.container .frame .header-bkg h1 {
  width: 100%;
  text-align: center;
  margin: 0;
  padding-top: 25vh; }
.container .frame .header-bkg h3 {
  width: 100%;
  text-align: center; }
.container .frame .sub-frame {
  padding: 80px 25%; }
.container .red-bkg {
  background-color: #f54438; }
.container .purple-bkg {
  background-color: #A653CF; }
.container .grey-bkg {
  background-color: #336699; }
.container .orange-bkg {
  background-color: #2EB8E6; }
.container .full-height {
  height: 100vh; }
.container .home-img-bkg {
  height: 100vh;
  background-image: url("../images/background.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-attachment:fixed;
  background-repeat: no-repeat; }
.container .contact-img-bkg {
  background-image: url("../images/contact.jpg");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-attachment:fixed;
  background-repeat: no-repeat;
  margin: 0;
  padding: 100px 0 0 0; }
.container .contact-img-bkg .header-bkg {
  height: auto !important;
  margin-bottom: 0px !important; }
.container .contact-img-bkg .header-bkg .btn {
  margin-top: 100px;
  display: inline-block; }
.container .contact-img-bkg .header-bkg img {
  height: 50px;
  display: block;
  margin: 140px auto 0px auto; }
.social{
  text-decoration:none;
  color: white;
  font-size: 1em;
}
