@font-face {
  font-family: Garamond;
  src: url("Garamond.otf") format("opentype");
}


body {
  font: 16px "Open Sans", Helvetica Neue, sans-serif;
  color: #333333; }

h1, h3, p {
  line-height: 1;
}

h1 {
  font-weight: 700;
  font-size: 3.5em;
  color: white; }

h1.sponsors {
  color: white !important; }

h1.main-header {
  margin: 0 10%;
  font-weight: 300;
  font-size: 1em; }

h2 {
  padding-top: 10px;
  font-weight: 700;
  font-size: .9em;
  line-height: 1.4; }

h3 {
  font-weight: 300;
  font-size: 1em;
  color: white;
  margin-top: 20px; }

h3.sponsors {
  color: white !important;
  font-size: 1em; }

p {
  font-family: "Garamond";
  font: 24px;
  line-height: 1.45;
  color: #444444;
  font-weight: 300;
  font-size: .9em; }

p.hardware {
  font-family: "Garamond";
  line-height: 1.4;
  font-size: .9em;
  padding-bottom: 40px;
}

p.quote {
  font-family: "Garamond";
  line-height: 1.4;
  font-size: .7em;
  padding-left: 20px;
  border-left: 2px solid #ddd;
  font-style: italic;
}

.speaker{
  color:#aaaaaa;
}

p.winner {
  font-size: .8em;
  line-height: 1.2;
  color: #999;
}

.speaker {
  float: right;
  font-family: "Garamond";
  line-height: 1;
  font-size: .55em;
}

.sidebar {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px; }

#copyright {
  color: white;
  font-size: 15px;
  font-weight: 500; }

.contact {
  font-family: "Open Sans";
}
